.user-profile {
  padding: 30px 20px 0 20px;
  height: 100vh;
  position: relative;
  overflow: visible;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 1rem;
}
.profile-wrapper .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile-wrapper .head h1{
  font-size: 18px;
}
.arrow-left-icon {
  background-color: var(--white);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-left-icon:hover {
  background-color: var(--green-500);
  color: var(--white);
  transition: 0.3s all ease-in-out;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.middle-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.middle-content,
.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.middle-content,
.text-wrapper h1 {
  margin: 0;
}
.middle-content,
.text-wrapper p {
  margin: 0;
}
.profile-btn {
  width: 100px;
  margin: 2rem auto auto auto;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--black);
  background-color: var(--green-500);
  color: var(--white);
}

.display-img {
  margin: auto;
}

.user-profile-btn {
  display: flex;
  border: 1px solid var(--black);
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  height: 35px;
  border-radius: 17px;
  margin-top: 3rem;
}
.user-profile-btn .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-profile-btn .left p {
  font-weight: 500;
}
.logout-wrapper {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 0;
}
.logout-btn {
  margin-bottom: 2rem;
  width: 100%;
  color: var(--error);
  border: 1px solid var(--error);
  padding: 2px 4px;
  height: 58px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
